@import "cfg";
.axis-x {
  transition-duration: $panTransition;
  // transition-property: left, width, transform;
  transition-property: width;
  position:relative;
  white-space: nowrap;
  width: calc(100% - 100px);
  height: $axisHeight;
  padding-top: 32px;
  span {
    transition-duration: 0.7s;
    transition-property: opacity, transform;
    position:absolute;
    opacity: 0;
    transform: scale(0.5);
    color: #96a2aa;
    font-size: $axisHeight/2 - 2px;
  }
}
