@import "cfg";

.chart {
  position: relative;
  // height: 95vw;
  height: 75vh;
  min-height: 900px;
  user-select: none;
  overflow: hidden;
  font-family: sans-serif;
  * {
    box-sizing: border-box;
  }
  h1 {
    font-size: 50px;
    font-family: sans-serif;
    padding-top: 58px;
    padding-bottom: 62px;
    margin: 0;
    height: $headerHeight;
  }
}