@import "cfg";

.chart-grid {
  // border: 1px solid #CCC;
  position: relative;

  // top:0;
  // right: 0;
  width:100%;
  height: calc(100% - #{$axisHeight} - #{$minimapHeight} - #{$legendHeight} - #{$headerHeight});
  // left: 0;
  overflow-x: hidden;
  overflow-y: visible;
}