@import "cfg";

svg.line {
  transition-duration: $panTransition;
  transition-property: left, width;
  position: absolute;
  top: 0;
  // right: 0;
  // bottom: 26px;
  left: 0;
  width: 100%;
  height: calc(100% - #{$axisHeight} - #{$minimap-height});
}