@import "cfg";

.night-mode {
  path.line {
    // opacity: 0.345;
  }
}

path.line {
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  &.hidden {
    opacity: 0;
  }
}
