@import "cfg";

$frameColor: #ddeaf3;
$handleWidth: 16px;

.chart-minimap {
  height: $minimapHeight;
  position: relative;
  width: 100%;
  margin-top: $minimapMarginTop;
  svg.line {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 3;
  }
  .cover,.handle,.frame {
    // transition-duration: $panTransition;
    // transition-property: left, right;
    height: calc(100%);
    position: absolute;
  }
  .cover {
    background: rgba(darken($frameColor,5%),0.65);
    z-index: 3;
    &.left {
      left:0px;
    }
    &.right {
      right: 0px;
    }
  }
  .handle {
    background: $frameColor;
    z-index: 2;
    width: $handleWidth;
    &.left {
      cursor: w-resize;
    }
    &.right {
      cursor: e-resize;
    }
  }
  .frame {
    background: transparent;
    border-top: 3px solid $frameColor;
    border-bottom: 3px solid $frameColor;
    cursor: ew-resize;
    z-index: 1;
  }
}

.night-mode {
  .cover {
    background: rgba(#23313a,0.6);
  }
  .handle {
    background: rgba($frameColor,0.1);
  }
  .frame {
    border-top: 3px solid rgba($frameColor,0.1);
    border-bottom: 3px solid rgba($frameColor,0.1);
  }
}