@import "cfg";

$frameColor: #ddeaf3;
$handleWidth: 16px;
$paddingTop: 40px;

.chart-minimap {
  height: $minimapHeight;
  position: relative;
  width: 100%;
  padding-top: $paddingTop;
  svg.line {
    position: absolute;
    top: $paddingTop;
    // right: 0;
    // bottom: 0px;
    left: 0;
    width: 100%;
    height: calc(100% - #{$paddingTop});
    pointer-events: none;
    z-index: 3;
  }
  .cover,.handle,.frame {
    // transition-duration: $panTransition;
    // transition-property: left, right;
    height: calc(100% - #{$paddingTop});
    position: absolute;
  }
  .cover {
    background: rgba(lighten($frameColor,5%),0.65);
    z-index: 3;
    &.left {
      left:0px;
    }
    &.right {
      right: 0px;
    }
  }
  .handle {
    background: $frameColor;
    z-index: 2;
    width: $handleWidth;
    &.left {
      cursor: w-resize;
    }
    &.right {
      cursor: e-resize;
    }
  }
  .frame {
    background: transparent;
    border-top: 3px solid $frameColor;
    border-bottom: 3px solid $frameColor;
    cursor: ew-resize;
    z-index: 1;
  }
}